@inject NavigationManager NavigationManager

<EditForm Model="@SizeCalculator" OnValidSubmit="@OnSubmit">
    <div class="d-flex justify-content-between align-items-start">
        <!-- Size Calculator -->
        <div class="calculator-container ">
     
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />

            <div class="mb-3">
                <label for="Height" class="form-label">Height (cm):</label>
                <InputNumber id="Height" @bind-Value="SizeCalculator.Height" class="form-control" />
                <ValidationMessage For="@(() => SizeCalculator.Height)" />
            </div>

            <div class="mb-3">
                <label for="Weight" class="form-label">Weight (kg):</label>
                <InputNumber id="Weight" @bind-Value="SizeCalculator.Weight" class="form-control" />
                <ValidationMessage For="@(() => SizeCalculator.Weight)" />
            </div>

            <div class="mb-3">
                <label for="Waist" class="form-label">Waist (cm):</label>
                <InputNumber id="Waist" @bind-Value="SizeCalculator.Waist" class="form-control" />
                <ValidationMessage For="@(() => SizeCalculator.Waist)" />
            </div>

            <div class="mb-3">
                <label for="Hips" class="form-label">Hips (cm):</label>
                <InputNumber id="Hips" @bind-Value="SizeCalculator.Hips" class="form-control" />
                <ValidationMessage For="@(() => SizeCalculator.Hips)" />
            </div>

            <div class="mb-3">
                <label for="Inseam" class="form-label">Inside leg(cm):</label>
                <InputNumber id="Inseam" @bind-Value="SizeCalculator.Inseam" class="form-control" />
                <ValidationMessage For="@(() => SizeCalculator.Inseam)" />
            </div>

            <div class="text-center d-flex justify-content-center gap-3">
                <button type="submit" class="btn btn-primary px-4">Calculate</button>
                <button type="button" class="btn btn-secondary px-4" @onclick="NavigateBack">Back</button>
            </div>
        </div>

    </div>
   

</EditForm>

@code {
    [Parameter]
    public SizeCalculator SizeCalculator { get; set; }

    [Parameter]
    public EventCallback OnSubmit { get; set; }

    private void NavigateBack()
    {
        NavigationManager.NavigateTo("/products");
    }
}
